## DAV 5400 Fall 2019 Week 8 Assignment
### Regular Expressions

In [10]:
import re
import numpy as np
#Create the tax string 'text' 
text = '555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert'

### 1. Extract the names of each individual from the unformatted text string and store them in a vector of some sort.

Use a findall function that returns a list that contains all the matched utterances as shown below. Then define them as 'name'

In [4]:
#Extract names of each individual from the string "text"
name = re.findall('[A-Za-z,\.]+\s[A-Za-z,\.+\s[A-Za-z,\.]+',text)
name

['Moe Szyslak',
 'Burns, C. Montgomery',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Simpson, Homer',
 'Dr. Julius Hibbert']

### 2. Using your new vector containing only the names of the six individuals

### a)
Use  regex skills to rearrange the vector so that all elements conform to the standard “firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.

In [11]:
#Use for loop to remove the empty elements and include the target elements into the new list 
names1 = []
for s in name:
    if re.findall('[A-Za-z,\.]+\s[A-Za-z,\.+\s[A-Za-z,\.]+',s):
        names1.append(s)
        
names1

['Moe Szyslak',
 'Burns, C. Montgomery',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Simpson, Homer',
 'Dr. Julius Hibbert']

In [12]:
# Split 'Burns, C. Montgomery' into 'Burns' and 'C. Montgomery'
names2 = re.split(', ',names1[1])
names2
# Joint the 'Burn' and 'C. Montgomery' by reverse the sequence
name3 = names2[1] + ' ' + names2[0]
name3
# Split 'Simpson, Homer' into 'Homer' and 'Simpson'
name4 = re.split(', ',names1[4])
# Joint the 'Simpson' and 'Homer' by reverse the sequence 
name5 = name4[1] + ' ' + name4[0]
name5
# Joint all of elements by index and add 
full_name = [names1[0],name3,names1[2],names1[3],name5,names1[5]]

full_name

['Moe Szyslak',
 'C. Montgomery Burns',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Homer Simpson',
 'Dr. Julius Hibbert']

### b)
Construct a logical vector indicating whether a character has a title

In [22]:
# using rematch and loop 
names5 = np.array([re.match('[A-Z][a-z]{1,}[.]',t) for t in full_name])
names5
# Test to see which one is match with our statements 
print(names5!=None)

[False False  True False False  True]

### c)
Construct a logical vector indicating whether a character has a middle/second name.

In [24]:
# Using rematch and loop 
names6 = np.array([re.match('[A-Z][.]',t) for t in full_name])
names6
print(names6!=None)

[False  True False False False False]

### 3. Consider the HTML string <title>+++BREAKING NEWS+++<title>.

In [16]:
# Create the string called "Html"
Html = '''<title>+++BREAKING NEWS+++<title>'''
Html

'<title>+++BREAKING NEWS+++<title>'

In [17]:
# Test the provided code to see if we can extract 'title'
test1 = re.match('<.+>', Html)
test1

In [18]:
# Adding ? after the qualifier makes it perform the match in non-greedy
test2 = re.match('<.+?>', Html)
test2

In [25]:
# Create the string called 'binomial'
binomial = '''(5-3)^2=5^2-2*5*3+3^2''' 
binomial

'(5-3)^2=5^2-2*5*3+3^2'

### 4. Consider the string “(5-3)^2=5^2-2*5*3+3^2” conforms to the binomial theorem

In [27]:
# Test the code
test2 = re.findall('[^0-9=+*()]+', binomial)
test2

['-', '^', '^', '-', '^']

In [28]:
#Removed the ^ first, added -^ to get the formula 
test3 = re.findall('[0-9-^=+*()]+', binomial)
test3

['(5-3)^2=5^2-2*5*3+3^2']